/* GENERAL STYLES ACROSS THE BLOG */

body {
    color: #404041;
    font-family: "brevia",sans-serif;
}

a {
    color: #b82e80;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: #b82e80;
}

hr {
    width: 100%;
}

h2 {
    font-size: 22px;
}

h2.post-title {
  font-size: 36px;
}

.well {
    background-color: white;
    border-radius: 0;
    box-shadow: 1px 1px 4px #404041;
    margin-right: 30px;
}
.logo {
    width: 500px;
    display: block;
    margin: auto;
}

.stripe  {
    background: url("/images/stripe.png");
    background-repeat: repeat-x;
    height: 90px;
}

.footer {
    padding: 0;
    height: 100%;
}

.links {
    margin-top: 10px;
    text-align: center;
    list-style: none;
    padding: 0;
}

.links li {
    background-color: #b82e80;
    color: white;
    margin-top: 10px;
}

.links a {
    color: white;
}

.author {
    background-color: #b82e80;
    padding: 5px;
    width: 300px;
    color: white;
    text-align: center;
    margin: auto;
}
.image-box {
    padding: 0;
    margin: auto;
    display: block;
    width: 300px;
}
.image {
    width: 300px;

}
