/* GENERAL STYLES ACROSS THE BLOG */

body {
    color: #404041;
    font-family: "brevia",sans-serif;
}

body {
  position: relative;
}

body:after {
    content: "";
    opacity: 0.1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('/images/tile.png');
    background-repeat: repeat;
    display: block;
}

a {
    color: #b82e80;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: #b82e80;
}

hr {
    width: 100%;
}

h2 {
    font-size: 22px;
}

h2.post-title {
  font-size: 36px;
}

.well {
    background-color: white;
    border-radius: 0;
    box-shadow: 1px 1px 4px #404041;
    margin-right: 30px;
}
.logo {
    width: 500px;
    display: block;
    margin: auto;
}

.footer {
    height: 100%;
}

.links {
    margin-top: 10px;
}

.links li {
    margin-top: 10px;
}

.links a {
    color: #b82e80;
}

.links a:hover {
  color: white;
}

.author {
    background-color: #b82e80;
    padding: 5px;
    width: 200px;
    color: white;
    text-align: center;
    margin: auto;
}
.image-box {
    padding: 0;
    margin: auto;
    display: block;
    width: 200px;
}
.image {
    width: 200px;

}
